include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include create_a_moment *.css
recursive-include create_a_moment *.csv
recursive-include create_a_moment *.html
recursive-include create_a_moment *.ico
recursive-include create_a_moment *.js
recursive-include create_a_moment *.json
recursive-include create_a_moment *.md
recursive-include create_a_moment *.png
recursive-include create_a_moment *.py
recursive-include create_a_moment *.svg
recursive-include create_a_moment *.txt
recursive-exclude create_a_moment *.pyc